@use "../../../../assets/styles/colors" as *;

header {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $black;
  color: $white;
  padding: 0 1rem;

  .title {
    width: 14rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $primary;
    font-size: 1.5rem;
    letter-spacing: 0.15rem;
    cursor: pointer;
  }

  .p-input-icon-right {
    width: 30%;
    input {
      width: 100%;
    }
  }

  .shopping-cart .pi {
    position: relative;
    cursor: pointer;
    font-size: 2.5rem;
  }

  .cart-count {
    font-size: 0.8rem;
    color: $primary;
    position: absolute;
    top: 21px;
    right: 28px;
  }

  a {
    color: $primary;
    text-decoration: none;
  }
}
