<header>
  <button
    class="hamburger hamburger--collapse"
    type="button"
    (click)="active = !active; toggleSideBar()"
    [ngClass]="active ? 'is-active' : ''"
  >
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
  </button>
  <div [routerLink]="['products']" class="title">Books'n'Things</div>

  <!-- <div class="p-input-icon-right">
    <i class="pi pi-search"></i>
    <input type="text" pInputText />
  </div> -->
  <div
    *ngIf="cartCount$ | async as cartCount; else emptyCart"
    [routerLink]="['checkout']"
  >
    <span class="cart-count">{{ cartCount }}</span>
    <span class="shopping-cart">
      <i class="pi pi-shopping-cart"></i>
    </span>
  </div>
</header>

<ng-template #emptyCart>
  <div [routerLink]="['checkout']">
    <span class="cart-count">0</span>
    <div class="shopping-cart"><i class="pi pi-shopping-cart"></i></div>
  </div>
</ng-template>

<p-sidebar
  [(visible)]="isSideBarVisible"
  [baseZIndex]="10000"
  [dismissible]="false"
  [showCloseIcon]="false"
>
  <nav>
    <a [routerLink]="['products']" (click)="toggleSideBar()">Home</a>
    <a [routerLink]="['manage']" (click)="toggleSideBar()">Manage Books</a>
    <a [routerLink]="['checkout']" (click)="toggleSideBar()">Check Out</a>
  </nav>
</p-sidebar>
