<header>
  <div [routerLink]="['products']" class="title">Books'n'Things</div>
  <a [routerLink]="['manage']">manage books</a>
  <div class="p-input-icon-right">
    <i class="pi pi-search"></i>
    <input type="text" pInputText />
  </div>
  <div
    *ngIf="cartCount$ | async as cartCount; else emptyCart"
    [routerLink]="['checkout']"
  >
    <span class="cart-count">{{ cartCount }}</span>
    <span class="shopping-cart">
      <i class="pi pi-shopping-cart"></i>
    </span>
  </div>
</header>

<ng-template #emptyCart>
  <div [routerLink]="['checkout']">
    <span class="cart-count">0</span>
    <div class="shopping-cart"><i class="pi pi-shopping-cart"></i></div>
  </div>
</ng-template>
