<main *ngIf="cartVM$ | async as vm">
  <section *ngIf="vm.cartCount; else emptyCart">
    <p-card header="Review items">
      <div *ngFor="let item of vm.cart">
        <div class="cart-item">
          <p>Title: {{ item.book.title }}</p>
          <p>Cost: {{ item.book.price | currency }}</p>
          <p>Quantity: {{ item.quantity }}</p>
        </div>
      </div>
      <div class="total-cost">
        <p>{{ vm.totalPrice | currency }}</p>
      </div>
      <ng-template pTemplate="footer">
        <p-button label="Checkout" icon="pi pi-check"></p-button>
      </ng-template>
    </p-card>
  </section>

  <ng-template #emptyCart> empty </ng-template>
</main>
